.addons-header {
  background: transparent;
}

.addons-hero {
  height: 160px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.addons-wrapper {
  border-radius: 16px 16px 0px 0px;
  margin-top: -20px;
  background: white;
  position: relative;
  padding-bottom: 110px !important;
}

.addons-modal-heading {
  h1 {
    font-size: 30px;
    line-height: 32px;
  }

  p {
    margin-bottom: 30px;
  }
}

.addons-modal-rating {
  margin-bottom: 14px;

  ul {
    @include lists;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    li {
      font-weight: 500;
      text-transform: capitalize;
      position: relative;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background: $content-color-light;
        margin-right: 8px;
        border-radius: 50%;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }

      span {
        margin-left: 2px;
        color: $content-color-light;
        flex: none;
      }

      a {
        color: $secondary-dark-grey;
        flex: none;
      }

      img {
        max-width: 16px;
        vertical-align: baseline;
        margin-right: 6px;
        flex: none;
      }
    }
  }
}

.addons-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 1px solid $border-color;

  .addons-btn-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $input-bg;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      transition: 0.3s all;
      max-width: 9px;
    }
  }

  &[aria-expanded='false'] {
    .addons-btn-img {
      img {
        transform: rotate(180deg);
      }
    }
  }

  // &[aria-expanded="true"]{
  //     margin-bottom: 18px;

  // }
}

.side-dish {
  padding: 14px 20px 20px;
  background: $input-bg;
  border-radius: 12px;
  margin-bottom: 16px;

  h4 {
    margin-bottom: 2px;
  }

  span {
    color: $secondary-dark-grey;
  }

  p {
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.addon-option-link {
  img {
    max-width: 8px;
  }
}

.btn-edit-white {
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  line-height: 34px;
  display: inline-block;
  padding: 0px 16px;
  background: white;
  border: 1px solid $border-color;
  border-radius: 50px;
  color: $secondary-dark-grey;

  &:hover {
    color: $secondary-dark-grey;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url(/assets/images/addons/edit-btn-arrow.svg) no-repeat center /
      contain;
    margin-left: 10px;
  }
}

.addons-textarea {
  height: 100px !important;
}

.add-cart-btn {
  height: 48px;
  line-height: 48px;
  background: #0019210d;
  border-radius: 10px;
  padding: 0 10px;

  .qty-minus,
  .qty-plus {
    background: $secondary-dark-grey;
  }
}

#more {
  display: none;
}
