.bg-primary-green {
  background: $primary-green !important;
}
.bg-secondary-grey {
  background: $secondary-dark-grey !important;
}
.bg-yellow {
  background: $yellow-color !important;
}
.bg-salomon-pink {
  background: $salomon-pink !important;
}
.bg-blue {
  background: $blue-color !important;
}
.bg-green {
  background: $green-color !important;
}
.bg-red {
  background: $red-color !important;
}
.bg-alert-yellow {
  background: $alert-yellow !important;
}
.input-bg {
  background: $input-bg !important;
}
.bg-black {
  background: black !important;
}
.bg-light-green {
  background: $green-10 !important;
}
.bg-status-blue {
  background: $status-blue !important;
}
.bg-light-grey {
  background: $light-grey !important;
}
.bg-light-content {
  background: $content-color-light !important;
}
.page-bg {
  background: $page-bg !important;
}

.text-primary-green {
  color: #001921 !important;
}
.text-secondary-grey {
  color: $secondary-dark-grey !important;
}
.text-yellow {
  color: $yellow-color !important;
}
.text-salomon-pink {
  color: $salomon-pink !important;
}
.text-blue {
  color: $blue-color !important;
}
.text-green {
  color: $green-color !important;
}
.text-alert-red {
  color: $alert-red !important;
}
.text-status-blue {
  color: $status-blue !important;
}
.text-alert-yellow {
  color: $alert-yellow !important;
}
.text-red {
  color: $red-color !important;
}
.text-black {
  color: black !important;
}
.text-content {
  color: $content-color !important;
}
.text-light-content {
  color: $content-color-light !important;
}

.heading-h1 {
  @extend h1;
}
.heading-h2 {
  @extend h2;
}
.heading-h3 {
  @extend h4;
}
.heading-h4 {
  @extend h4;
}
.heading-h5 {
  @extend h5;
}
.heading-h6 {
  @extend h6;
}

.modal-h1 {
  font-size: 24px;
  line-height: 32px;
}

.font-14px-20px-400 {
  font: $font-14px-20px-400 !important;
}
.font-14px-22px-400 {
  font: $font-14px-22px-400 !important;
}
.font-14px-24px-400 {
  font: $font-14px-24px-400 !important;
}
.font-14px-17px-500 {
  font: $font-14px-17px-500 !important;
}
.font-14px-18px-500 {
  font: $font-14px-18px-500 !important;
}
.font-14px-20px-500 {
  font: $font-14px-20px-500 !important;
}

.font-16px-24px-400 {
  font: $font-16px-24px-400 !important;
}
.font-16px-26px-400 {
  font: $font-16px-26px-400 !important;
}
.font-16px-28px-400 {
  font: $font-16px-28px-400 !important;
}
.font-16px-24px-500 {
  font: $font-16px-24px-500 !important;
}
.font-16px-28px-500 {
  font: $font-16px-28px-500 !important;
}

.footnote-12px-16px {
  font: $footnote-12px-16px !important;
}
.footnote-400 {
  font: $footnote-400 !important;
}
.footnote-500 {
  font: $footnote-500 !important;
}
.hammerhead {
  font: $hammerhead;
  letter-spacing: 0.3em;
  text-transform: uppercase !important;
}
.hammerhead-sm {
  font: $hammerhead-sm;
  letter-spacing: 0.06em;
  text-transform: uppercase !important;
}

.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}

.bg-white-20-blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}
.bg-white-30-blur {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}
.bg-white-40-blur {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}
.bg-white-50-blur {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}
.bg-white-60-blur {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(450px);
  -webkit-backdrop-filter: blur(450px);
}
.bg-white-70-blur {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(450px);
  -webkit-backdrop-filter: blur(450px);
}
.bg-white-80-blur {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(450px);
  -webkit-backdrop-filter: blur(450px);
}

.font-sm {
  font: $font-14px-24px-400;

  p {
    margin-bottom: 20px;
  }

  ol,
  ul {
    margin-bottom: 20px;
  }
}

.border {
  border: 1px solid $border-color !important;
}
.border-top {
  border-top: 1px solid $border-color !important;
}
.border-bottom {
  border-bottom: 1px solid $border-color !important;
}
.border-left {
  border-left: 1px solid $border-color !important;
}
.border-right {
  border-right: 1px solid $border-color !important;
}
.border-x {
  border-top: 1px solid $border-color !important;
  border-bottom: 1px solid $border-color !important;
}
.border-y {
  border-left: 1px solid $border-color !important;
  border-right: 1px solid $border-color !important;
}
.border-top-0 {
  border-top: none !important;
}
.border-bottom-0 {
  border-bottom: none !important;
}
.border-left-0 {
  border-left: none !important;
}
.border-right-0 {
  border-right: none !important;
}

.border-white {
  border-color: white !important;
}

.radius-0 {
  border-radius: 0px !important;
}
.radius-2 {
  border-radius: 2px !important;
}
.radius-4 {
  border-radius: 4px !important;
}
.radius-6 {
  border-radius: 6px !important;
}
.radius-8 {
  border-radius: 8px !important;
}
.radius-10 {
  border-radius: 10px !important;
}
.radius-12 {
  border-radius: 12px !important;
}
.radius-16 {
  border-radius: 16px !important;
}
.radius-18 {
  border-radius: 18px !important;
}
.radius-20 {
  border-radius: 20px !important;
}

.radius-tl-0 {
  border-top-left-radius: 0 !important;
}
.radius-tr-0 {
  border-top-right-radius: 0 !important;
}
.radius-bl-0 {
  border-bottom-left-radius: 0 !important;
}
.radius-br-0 {
  border-bottom-right-radius: 0 !important;
}

.row-gap-3 {
  row-gap: 3px !important;
}
.row-gap-4 {
  row-gap: 4px !important;
}
.row-gap-5 {
  row-gap: 5px !important;
}
.row-gap-6 {
  row-gap: 6px !important;
}
.row-gap-8 {
  row-gap: 8px !important;
}
.row-gap-10 {
  row-gap: 10px !important;
}
.row-gap-12 {
  row-gap: 12px !important;
}
.row-gap-14 {
  row-gap: 14px !important;
}
.row-gap-16 {
  row-gap: 16px !important;
}
.row-gap-20 {
  row-gap: 20px !important;
}
.row-gap-24 {
  row-gap: 24px !important;
}
.row-gap-30 {
  row-gap: 30px !important;
}
.row-gap-32 {
  row-gap: 32px !important;
}
.row-gap-36 {
  row-gap: 36px !important;
}
.row-gap-40 {
  row-gap: 40px !important;
}
.row-gap-50 {
  row-gap: 50px !important;
}

.col-gap-3 {
  column-gap: 3px !important;
}
.col-gap-4 {
  column-gap: 4px !important;
}
.col-gap-5 {
  column-gap: 5px !important;
}
.col-gap-6 {
  column-gap: 6px !important;
}
.col-gap-8 {
  column-gap: 8px !important;
}
.col-gap-10 {
  column-gap: 10px !important;
}
.col-gap-12 {
  column-gap: 12px !important;
}
.col-gap-14 {
  column-gap: 14px !important;
}
.col-gap-16 {
  column-gap: 16px !important;
}
.col-gap-18 {
  column-gap: 18px !important;
}
.col-gap-20 {
  column-gap: 20px !important;
}
.col-gap-22 {
  column-gap: 22px !important;
}
.col-gap-24 {
  column-gap: 24px !important;
}
.col-gap-30 {
  column-gap: 30px !important;
}

.w-6 {
  width: 6px !important;
}
.w-8 {
  width: 8px !important;
}
.w-10 {
  width: 10px !important;
}
.w-12 {
  width: 12px !important;
}
.w-15 {
  width: 15px !important;
}
.w-16 {
  width: 16px !important;
}
.w-20 {
  width: 20px !important;
}
.w-22 {
  width: 22px !important;
}
.w-24 {
  width: 24px !important;
}
.w-26 {
  width: 26px !important;
}
.w-30 {
  width: 30px !important;
}
.w-40 {
  width: 40px !important;
}
.w-90 {
  width: 90px !important;
}
.w-150 {
  width: 150px !important;
}
.w-160 {
  width: 160px !important;
}
.w-180 {
  width: 180px !important;
}
.w-190 {
  width: 190px !important;
}
.w-200 {
  width: 200px !important;
}
.w-210 {
  width: 210px !important;
}
.w-220 {
  width: 220px !important;
}
.w-230 {
  width: 230px !important;
}

.h-2 {
  height: 2px !important;
}
.h-4 {
  height: 4px !important;
}
.h-6 {
  height: 6px !important;
}
.h-8 {
  height: 8px !important;
}
.h-10 {
  height: 10px !important;
}
.h-20 {
  height: 20px !important;
}
.h-50 {
  height: 50px !important;
}
.h-90 {
  height: 90px !important;
}
.h-120 {
  height: 120px !important;
}
.h-140 {
  height: 140px !important;
}
.h-160 {
  height: 160px !important;
}
.h-180 {
  height: 180px !important;
}
.h-200 {
  height: 200px !important;
}

.z-index-1 {
  z-index: 1 !important;
}
.z-index-2 {
  z-index: 2 !important;
}
.z-index-3 {
  z-index: 3 !important;
}
.z-index-4 {
  z-index: 4 !important;
}
.z-index-5 {
  z-index: 5 !important;
}
.z-index-1000 {
  z-index: 1000 !important;
}
.z-index-1050 {
  z-index: 1050 !important;
}

.lh-0 {
  line-height: 0px !important;
}
.lh-10 {
  line-height: 10px !important;
}
.lh-12 {
  line-height: 12px !important;
}
.lh-14 {
  line-height: 14px !important;
}
.lh-16 {
  line-height: 16px !important;
}
.lh-18 {
  line-height: 18px !important;
}
.lh-20 {
  line-height: 20px !important;
}
.lh-22 {
  line-height: 22px !important;
}
.lh-24 {
  line-height: 24px !important;
}
.lh-26 {
  line-height: 26px !important;
}
.lh-28 {
  line-height: 28px !important;
}
.lh-30 {
  line-height: 30px !important;
}

.shadow-1 {
  box-shadow: 0px 4px 20px rgba(0, 25, 33, 0.1) !important;
}

.flex-none {
  flex: none !important;
}

.checklist-green {
  ul {
    @include lists;

    li {
      font: 400 14px/20px $primary-font;
      padding-left: 27px;
      margin-bottom: 16px;

      &::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 18px;
        height: 18px;
        background: url(/assets/images/icons/icon-circle-check-green.svg)
          no-repeat center / contain;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
